{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" 
  [label]="label" 
  [title]="title"
  [options] = "markerOptions">
</map-marker>

<map-polygon [paths]="vertices">
</map-polygon>


  <map-circle [center]="position"
              [radius]="50"
              [options] = 'circleOptions'>
  </map-circle>
  <map-circle [center]="position"
              [radius]="30"
              [options] = 'circleOptions'>
  </map-circle>
  <button name="Blue" (click)="cambiaColreB()">BLUE</button>
  <button name="Green" (click)="cambiaColreG()">GREEN</button>
  <button name="Red" (click)="cambiaColreR()">RED</button>
</google-map>